body{
background-color:#00FFFF;

}
h1{
color:white;
background-color:gray;
text-align:center;
color:white;
}
h2{
color:black;
text-align:left;

}
p{
color:black;
max-width:500px;
}
header{
padding:lem;
clear:left;
background-color:gray;
text-align:center;
color:white;
}
table{
width:600px;
}
td{
text-align:center;

}
